{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
    <h1 class="py-5 text-center">Update movie</h1>
    <div style="margin: 50px">
        {{ form(form) }}
    </div>
{% endblock %}